td {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 2px;

  border-width: 0.5px;
  /* border-color: #0f4c81; */
  border-radius: 50%;
}
/* 
.dead {
  display: block;
  background: black;
  border-radius: 50%;
  transform: all 200ms ease-in-out;
  margin: 0;
  background: radial-gradient(circle at 3px 3px, white, rgb(145, 145, 145));
}

.alive {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(
    circle at 50% 120%,
    #81e8f6,
    #76deef 10%,
    #055194 80%,
    #062745 100%
  );
}

.alive:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 12.6px;
  height: 12.6px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(0.7px);
  z-index: 2;
} */

.dead {
  background-color: #212121;
}


.alive {
    margin: 0 auto;
    /* width: 24px;
    height: 24px; */
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.135) 0 -0.625px 4.375px 0.675px, inset #808002 0 -0.625px 6.075px, #FF0 0 1.35px 8.1px;
    -webkit-animation: blinkYellow 1s infinite;
    -moz-animation: blinkYellow 1s infinite;
    -ms-animation: blinkYellow 1s infinite;
    -o-animation: blinkYellow 1s infinite;
    animation: blinkYellow 1s infinite;
  }
  
  @-webkit-keyframes blinkYellow {
      from { background-color: #FF0; }
      50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.135) 0 -0.625px 4.375px 0.675px, inset #808002 0 -0.625px 6.075px, #FF0 0 1.35px 8.1px; }
      to { background-color: #FF0; }
  }
  @-moz-keyframes blinkYellow {
      from { background-color: #FF0; }
      50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.135) 0 -0.625px 4.375px 0.675px, inset #808002 0 -0.625px 6.075px, #FF0 0 1.35px 8.1px; }
      to { background-color: #FF0; }
  }
  @-ms-keyframes blinkYellow {
      from { background-color: #FF0; }
      50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.135) 0 -0.625px 4.375px 0.675px, inset #808002 0 -0.625px 6.075px, #FF0 0 1.35px 8.1px; }
      to { background-color: #FF0; }
  }
  @-o-keyframes blinkYellow {
      from { background-color: #FF0; }
      50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.135) 0 -0.625px 4.375px 0.675px, inset #808002 0 -0.625px 6.075px, #FF0 0 1.35px 8.1px; }
      to { background-color: #FF0; }
  }
  @keyframes blinkYellow {
      from { background-color: #FF0; }
      50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.135) 0 -0.625px 4.375px 0.675px, inset #808002 0 -0.625px 6.075px, #FF0 0 1.35px 8.1px; }
      to { background-color: #FF0; }
  }
  
