#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
tbody {
  top: 100px;
}
tr {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#tbl {
  margin: 50px;
}

